{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Vlastef{% endblock %}</title>
        <link rel="icon" href="{% static 'vlastef_app/images/Favicono.png' %}" type="image/png">
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <footer style="position:fixed;right:12px;bottom:12px"></footer>
        {% block extra_js %}{% endblock %}
    </body>
</html>